ROOT_URL="http://localhost:3003" # USED FOR CONFIGURATION PAGE
JWT_SECRET="can-be-anything-you-want"
ENCRYPTION_KEY=""
GEMINI_API_KEY=""
TMDB_API_KEY=""
OMDB_API_KEY=""
RPDB_FREE_API_KEY=""
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
UPSTASH_VECTOR_REST_URL=""
UPSTASH_VECTOR_REST_TOKEN=""

## EVERYTHING BELOW THIS LINE IS OPTIONAL.
GOOGLE_MODEL="gemini-2.0-pro-exp-02-05"
OPENAI_MODEL="o4-mini"
SEARCH_COUNT=20
PORT=3003
CLOUDFLARED_TOKEN=""
DEV_MODE=false 
SEMANTIC_PROXIMITY=0.95 # Defaults to 0.95 max value of 1.00
RESET_VECTOR_CRON="0 0 1 * *"

# GENERATE ENCRYPTION_KEY WITH
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
#