ROOT_URL="http://localhost:3003" # USED FOR CONFIGURATION PAGE
GEMINI_API_KEY=""
TMDB_API_KEY=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
UPSTASH_VECTOR_REST_URL=""
UPSTASH_VECTOR_REST_TOKEN=""
AI_MODEL="gemini-2.0-pro-exp-02-05"
SEARCH_COUNT=20
PORT=3003
CLOUDFLARED_TOKEN=""
DEV_MODE=false 
DISABLE_CACHE=false 
SEMANTIC_PROXIMITY=0.95 # Defaults to 0.95 max value of 1.00