ROOT_URL="http://localhost:3003" # USED FOR CONFIGURATION PAGE
PORT=3003
JWT_SECRET="can-be-anything-you-want"
ENCRYPTION_KEY=""

GEMINI_API_KEY=""
TMDB_API_KEY=""
OMDB_API_KEY=""
RPDB_FREE_API_KEY=""
TRAKT_CLIENT_ID=
TRAKT_CLIENT_SECRET=


UPSTASH_REDIS_REST_URL="" # LOCAL HOSTING: THIS IS: http://serverless-redis-http
UPSTASH_REDIS_REST_TOKEN="" # LOCAL HOSTING: THIS CAN BE ANYTHING.

# GENERATE ENCRYPTION_KEY, SECRETS AND TOKENS WITH
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
#